.idea/
temp/
*~
php/lib/HTMLPurifier/HTMLPurifier/DefinitionCache/*
ACDC
BAAP
BAOI
BDIA
BDPP
BOCA
BSDP
BSYP
BWCP
CACE
CLMN
COPS
GRBA
HASO
ICG
KGAL
KUSS
MAGN
MAPD
MISC
MRMD
MYUS
PERG
PHDD
PIND
RMLP
SORR
THCA
TOOLS
TRPS
VMRS
WOLL
RMWR
NFRT
PROM
CRMC
