# set directory index

DirectoryIndex filter-frontend.php

# enable pretty URLs
#
# NOTE:
# does ONLY work when the website is in the document root (at "/" NOT "/foo/bar/")
# MultiViews must be DISABLED (see http://www.bennadel.com/blog/2218-negotiation-discovered-file-s-matching-request-none-could-be-negotiated.htm)

Options -MultiViews

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(?:collection/)?([A-Z]+)/(object|single|export)/([a-zA-Z0-9+-/_]+)$    browse.php?path=$1/$2/$3	[QSA,L]
RewriteRule ^collection/([a-zA-Z0-9+-/_]+)$			                                filter-frontend.php?path=$1	[QSA]
RewriteRule ^tombstone$			                                					tombstone.php				[QSA]

<filesMatch "\.css$">
  FileETag None
  <ifModule mod_headers.c>
     Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </ifModule>
</filesMatch>


<filesMatch "\.js$">
  FileETag None
  <ifModule mod_headers.c>
     Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </ifModule>
</filesMatch>

# force download for ptm files
<filesMatch "\.ptm$">
  FileETag None
  <ifModule mod_headers.c>
        ForceType application/octet-stream
        Header set Content-Disposition attachment
  </ifModule>
</filesMatch>

