#collection_container {
    max-width: 1130px;
}

#collection_top {
    border-bottom:1px solid #FFFFFF;
}

#collection_top .title_img {
    position: relative;
    max-width: 875px;
    height: 246px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	background-size: cover;
    
    box-shadow: -3px 4px 7px #4a4a4a;
}

#collection_top .title_img h1 {
    font-weight: normal;
    margin: 0 0 0 12px;
    color: #83b6c9;
    font-size: 70px;
}

#collection_top .image_copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 19px;
    text-align: right;
    font-size: 11px;
    padding-right: 3px;
    color: black;
    background-color: rgba(255, 255, 255, 0.25);
}

#collection_top .top_nav ul {
    list-style-type: none;
}

a.collectionTopButton {
    width: 200px;
    height: 74px;
    background: #9a968a;
    margin-bottom: 12px;
    box-shadow: -3px 4px 7px #4a4a4a;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.collectionTopButton:hover a {
    color: #FFFFFF;
}

.collectionTopButton span {
    font-size: 23px;
    font-weight: 300;
    color: #616159;
}

.collectionTopButton:hover span {
    color: #FFFFFF;
}

.collectionTopButton.active {
    background: #83b6c9;
}

.collectionTopButton.active span {
    color: #FFFFFF;
}

#collection_page {
    position: relative;
    overflow: hidden;
}

#collection_sidebar .menu {
    background: #83b6c9;
    box-shadow: -3px 4px 7px #4a4a4a;
}

#collection_sidebar .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 12px;
}

#collection_sidebar .menu ul li {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.7;
}

#collection_sidebar .menu ul li a {
    color: #FFFFFF;
}

#collection_sidebar .menu ul li a:hover {
    text-decoration: none;
    color: #514740;
}


#collection_sidebar .menu.cite {
    margin-top: 12px;

	
}

#collection_sidebar .menu.cite ul {
    padding: 0;
}

#collection_sidebar .menu.cite ul li img {
    width: 35px;
    height:35px;
    margin-right: 6px;
}


#collection_sidebar .infobox {
    border-top: 1px solid #000000;
    margin-top: 24px;
    color: #000000;
    font-size: 12px;
    line-height: 1.3;
}

#collection_sidebar .infobox h3 {
    font-width: normal;
    margin: 3px 0 3px 0;
    color: #FFFFFF;
}

#collection_sidebar .license_logo {
    margin-top: 3px;
}

#collection_main, #collection_main a {
    font-family: "Open sans", sans-serif;
}

#collection_main .content_section {
    border-top: 1px dotted #FFFFFF;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 12px;
}

#collection_main .content_section.first {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
}

#collection_main .content_section h1 {
    font-size: 23px;
    color: #FFFFFF;
    font-weight: normal;
    margin: 0px 0 12px 0;
}