#filter_main {
    font-family:"Dosis", sans-serif;
    font-weight: 300;
}

#filter_main p {
    font-family:"Open sans", sans-serif;
}

#filter_results_top .filterButton {
    font-size: 16px;
    display: inline;
    cursor: pointer;
    padding: 6px 20px 6px 20px;
    margin-right: 12px;
    box-shadow: -3px 4px 7px #4a4a4a;
}


#filter_results_top .collections {
    background: #7ea3b0;
    color: #514740;
	background-origin: content-box;
}

#filter_results_top .bags {
    background: #55899c;
    color: #d3cebb;
}

#filter_results_top .notebooks {
    background: #4A4A4A;
    color: #EDDC01;
}


#filter_main ul.btn_list li:hover {
    /*cursor: pointer;*/
}

#filter_results_top .filterButton.active {
    color: #FFFFFF;
   	border-bottom: 1px solid #d3cebb; /* bottom line bjoern */
}

#filter_top {
	padding-bottom: 16px;
	margin-bottom: 24px;
	border-bottom: 1px dotted #767468;
}

#filter_top h1 {
    margin-top:0;
    color: #FFFFFF;
    font-size: 45px;
    font-weight: 300;
}

/*.filter_in_collection #filter_results {
    width: 100%;
    max-width: 610px;
}*/

#filter_results_top {
    border-bottom: 1px dotted #767468;
}

#filter_results_info {
    color: #767468;
    font-size: 16px;
}

#filter_results_info > div {
    display: inline;
}

.filter_in_collection #filter_results_info {
    color: #FFFFFF;
    float: none;
    text-align: left;
    width: 100%;
    font-weight: 300;
}

.filter_branch .filter_children {
	display: none;
	margin-top: 5px;
}

.filter_nav_tree_root > .filter_branch > .filter_children {
	display: block;
}

.filter_branch.expanded > .filter_children {
	display: block;
}


.filter_in_collection #filter_results_total_count {
    font-size: 23px;
}

#filter_center {
    border-top: 1px dotted #767468;
    margin-top: 24px;
}

.filter_in_collection #filter_center {
    border: none;
    margin-top: 14px;
}

#filter_select {
    font-family:"Dosis", sans-serif;
    font-size: 16px;
    
    max-width: 216px;
}

#filter_select_container {
    color: #d3cebb;
    background: #767468;
    padding: 6px 12px 6px 12px;
    box-shadow: -3px 4px 7px #4a4a4a;
}

#filter_select_container a{
	color: #FFF;
	margin:10px;	
}

#filter_select_container a:hover {
	color: #FFF;
	margin:10px;
	color: #514740;
    text-decoration: none;
		
}

.filter_in_collection #filter_select_container {
    color: #FFFFFF;
    background: #7ea3b0;
    padding: 6px 12px 6px 12px;
    box-shadow: -3px 4px 7px #4a4a4a;
}

/*.filter_nav_scroll_container {
    position: relative;
    max-height: 150px;
    overflow: hidden;
    padding-right: 12px;
    margin-bottom: 6px;
}*/

.filter_nav_all_elems_toggle {
    cursor: pointer;
    font-size: 13px;
    margin-top: 6px;
    margin-left: 15px;
    border-top: 1px dotted #FFFFFF;
}

.filter_nav_all_elems_toggle.active {}

.ps-container > .ps-scrollbar-x-rail,
.ps-container > .ps-scrollbar-y-rail {
    opacity: 0.6;   /* always show scrollbars */
}

#filter_select h2 {
    margin-top: 3px;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 300;
}

.filter_in_collection .filter_select_container h2 {
    color: #FFFFFF;
}

#filter_select h3 {
    font-weight: normal;
    margin: 0 0 6px 0;
    padding: 0;
    border-bottom: 1px dotted #d3cebb;
    font-size: 19px;
    font-weight: 300;
    color: #FFFFFF;
}

.filter_in_collection #filter_select h3 {
    border-bottom: 1px dotted #FFFFFF;
    color: #514740;
}

#filter_select ul {
    padding: 0;
    margin: 0;
}

#filter_select .filter_branch {
    font-size: 15px;
	line-height: 110%;
}

.filter_branch > .row > .filter_branch_title:before {
	content: ">";
	position: absolute;
	margin-left:-10px;
	font-size:15px;
}

.filter_branch.expanded > .row > .filter_branch_title:before {
	transform:rotate(90deg)	
}

#filter_select .filter_crit, #filter_select .filter_branch {
	margin-bottom: 5px;
}

#filter_select .filter_crit:before {
    content: "+";
	position: absolute;
    margin-left: -10px;    
}

#filter_select .filter_crit.active:before {
    content: "– ";
}

#filter_select .filter_crit.active {
    color: #7ea3b0;
}

#filter_select .filter_branch_leaf li.active {
    font-weight: normal;
    color: #7ea3b0;
}

.filter_in_collection #filter_select .filter_crit.active {
    color: #00376c;
}

#filter_select .filter_branch_title {
    cursor: pointer;
}

#filter_select .filter_branch.expanded {
    display: block;
}

.filter_collections #filter_results_objects > a {
	max-width: 194px;
}

#filter_results_objects {
    padding: 12px 0 12px 0;
}

#filter_select .filter_crit {
    cursor: pointer;
}

#filter_select .filter_crit_count {
    padding: 1px 3px 1px 3px;
    color: #d3cebb;
    text-align: right;
    font-size: 11px;
}

.filter_in_collection #filter_select .filter_crit_count {
    color: #FFFFFF;
}

#filter_selected_criteria {
    padding-top: 24px;
    min-height: 33px;
}

.filter_in_collection #filter_selected_criteria {
    padding-top: 20px;
}

#filter_selected_criteria ul {
    list-style-type: none;
    margin: 6px 0 0 0;
    padding: 0;
}

#filter_selected_criteria ul li {
    margin: 0;
    padding: 0 12px 0 0;
    cursor: pointer;
    color: #514740;
    font-weight: normal;
    display: inline;
}

.filter_in_collection #filter_selected_criteria ul li {
    color: #00376c;
}

#filter_selected_criteria ul li:before {
    content: '– ';
}

#filter_results_objects .result_object {
    font-size: 12px;
    color: #FFFFFF;
    line-height: 1.3;
    cursor: pointer;
}

.filter_in_collection #filter_results_objects .result_object_container {
    background: #8d897d;
    position: relative;
    box-shadow: -3px 4px 7px #4a4a4a;

	display: -webkit-flex;
	display: flex;
}

.filter_in_collection #filter_results_objects .result_object_text {
    padding: 6px;
	-webkit-flex: 1;
	flex: 1;	
}

.filter_in_collection #filter_results_objects .result_object_img {
    width: 58px;
    height: 58px;
    background: #767468;
}

#filter_results_objects .result_object img {
    display: block;
    width: 100%;
}

.filter_in_collection #filter_results_objects .result_object img {
    display: block;
    width: 58px;
    height: 58px;
}

#filter_results_objects .result_object h3 {
    font-weight: normal;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.filter_in_collection #filter_results_objects h3 {
    margin: 0;
}

.filter_in_collection #filter_results_objects h4 {
    margin: 0;
}

#filter_results_objects .result_object {
    color: #FFFFFF;
    text-decoration: none;
}

#filter_results_objects .result_object h3 a:hover {
    text-decoration: none;
}

#filter_results_objects .result_object.collection,
#filter_results_objects .result_object.bag {
    width: 194px;
    height: 194px;
    margin-bottom: auto;
    box-shadow: -3px 4px 7px #4a4a4a;
}


#filter_results_objects .result_object.collection {
    background: #7ea3b0;
}

#filter_results_objects .result_object.bag {
    background: #55899c;
}

#filter_results_objects .result_object .top {
    height: 96px; /* 192/2 */
    position: relative;
    display: table;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 192px 96px;
}

.result_object .title {
	padding-top: 80px;
} 

#filter_results_objects .result_object .top .title {
    display: table-cell;
    width: 192px;
    vertical-align: bottom;
    padding-left: 6px;
    padding-bottom: 6px;
}

#filter_results_objects .result_object img {
    max-height: 96px;
}

#filter_results_objects .result_object .bottom {
    height: 96px; /* 192/2 */
    padding: 6px;
}

#filter_pagination {
    color: #767468;
}

#filter_pagination > div {
    width: 33%;
    float: left;
}

#filter_pagination .prev_page,
#filter_pagination .next_page {
    font-size: 23px;
    font-weight: bold;
}

#filter_pagination .prev_page {
    text-align: left;
}

#filter_pagination .page_info {
    text-align: center;
}


#filter_pagination .next_page {
    text-align: right;
}

/** Perfect Scrollbar 'dark' theme **/

.ps-theme-dark.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    background-color: #FFFFFF;
}

.ps-theme-dark.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
    background-color: #000000;
}
